header {
    width: 100vw;
    background-color: #f8f9fa;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly
}



header div {
    width: 33%;
}

#Logo {
    width: 65px;
    height: 65px;
}

.Container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Menu {
    display: flex;
    justify-content: end;
}

.Container-Menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Container-Menu i:hover {
    cursor: pointer;
    opacity: 0.6;
}

    .Container-Menu i {
        font-size: 30px;
        margin-right: 10px;
        margin-right: 1rem;
    }

    h1:hover, h2:hover {
        opacity: 0.7;
        cursor: pointer;
    }

.LogoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
    .LogoContainer img:hover {
        cursor: pointer;
    }
    .LogoContainer h1:hover {
        opacity: 1;
        cursor: pointer;
    }